@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  background-color: #350642;
  margin: 4rem auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}

h1,
h2 {
  background: linear-gradient(#c486cc, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  padding: 1rem;
}

h2 {
  font-size: 5rem;
  padding: 2rem;
  margin-top: -1rem;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

@media (max-width: 460px) {
  HTML {
    font-size: 14px;
  }
  .container {
    padding: 1rem;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 1.75rem;
    margin-bottom: -0.75rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}
